* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 163px;
    width: 1000px;
    background-color: rgb(0, 103, 52);
    margin-inline: auto;
}

.divnav {
    display: inline;
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-right: 400px;
}

nav div a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    border: 2.5px solid white;
    border-radius: 12px;
    padding: 5px;
}

main {
    display: flex;
    align-items: center;
    margin-inline: auto;
    width: 1000px;
    margin-top: 10px;
    padding: 5px;
    color: rgb(5, 90, 24);
    background-color: azure;
}

#sep {
    display: flex;
    justify-content: center;
    margin-left: 6px;
    font-size: 26px;
}

#historia {
    padding: 10px;
    h1 {
        text-align: center;
        font: normal 900 35px serif;
    }
}

.historia {
    margin: 2px;
    margin-bottom: 8px;
    padding: 10px;
    text-align: justify;
    color: azure;
    background: rgb(0, 103, 52);
    border-radius: 20px;
}

 .h2 {
       display: flex;
       justify-content: center;
       margin: 7px;
       h2 {
        margin: 1px;
        padding: 5px;
        color: rgb(0, 103, 52);
        background: rgb(138, 248, 156);
        border-radius: 10px;
        font-size: 25px;
       }
    }







