* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
     background: rgb(0, 103, 52);
     position: fixed;
     width: 100%;
     z-index: 10;
    }

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100rem;
    height: 14rem;
    margin-inline: auto;
        img {
    height: 10rem;
    margin-left: 1.5rem;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 35rem;
    list-style: none;
   } 

   li:hover {
            transform: scale(1.1);
            font-weight: 900;
            transition: .3s;
   }


}

.anav {
    padding: .5rem;
    font-size: 2.3rem;
    font-weight: 700;
    border: .4rem solid rgb(3, 170, 70);
    border-radius: 2rem;
    text-decoration: none;
    color: rgb(0, 103, 52);  
    background: whitesmoke;   
}

main {
    position: relative;
    top: 14.5rem;
    display: flex;
    align-items: center;
    margin-inline: auto;
    padding-bottom: .1rem;
    width: 100rem;
    padding: .5rem;
    color: rgb(5, 90, 24);
    background-color: azure;
    border: outset .3rem greenyellow ;
}

#sep {
    display: flex;
    flex-direction: column;
    margin-left: .6rem;
    h1{
        margin-block: 2.9rem;
        font-family: "Italianno";
        font-size: 10rem;   }
}

.logosmain {
    width: 20rem;
    height: 20rem;
}

#historia {
    padding: 10px;
    h1 {
        text-align: center;
        font: normal 900 3.5rem serif;
    }
}

.historia {
    margin: .2rem;
    margin-bottom: .4rem;
    padding: 1rem;
    padding-inline: 0rem;
    width: 65rem;
    text-align: justify;
    color: azure;
    background: rgb(0, 103, 52);
    border-radius: 2rem;
}

 .h2 {
       display: flex;
       justify-content: center;
       margin: .7rem;
        h2 {
            margin: .1rem;
            padding: .5rem;
            color: rgb(0, 103, 52);
            background-color:azure ;
            border-radius: 1rem;
            font-size: 2.5rem;
        }
    }

.parag {
    line-height: 2rem;
    margin: 1rem;
    padding: .5rem;
   
}

.h3 {
      display: flex;
      justify-content: center;
      width: 70rem;
      margin-inline: 0rem;
      color: rgb(5, 90, 24);
      background-color: azure;
        h3 {
            font: normal 1000 2.1rem open;
        }
    }

.paragh3 {
    margin: .9rem;
    padding: .5rem;
    border-radius: 1rem;
    background-color: azure;
    color: black;
}

.arrow {
    position: fixed;
    padding: .3rem;
    border-radius: 50%;
    bottom: 2rem;
    right: 2rem;
    width: fit-content;
    background-color: rgb(0, 103, 52);
}

a:hover {
    transform: scale(1.1);
    font-weight: 1000;
    transition: .1s;
    }






