* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
     background: rgb(0, 103, 52);
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100rem;
    height: 14rem;
    margin-inline: auto;
   
}

.divnav {
    display: flex;
    justify-content: space-around;
    width: 35rem;
    margin-left: 46rem;
   } 

   a:hover {
        transform: scale(1.1);
        font-weight: 900;
   }

.img {
    display: flex;
    margin-left: 1.5rem;
    img{
        height: 10rem;
    }
}

.anav {
    padding: .5rem;
    font-size: 2.3rem;
    font-weight: 700;
    border: .4rem solid rgb(3, 170, 70);
    border-radius: 2rem;
    text-decoration: none;
    color: rgb(0, 103, 52);  
    background: whitesmoke;   
}

main {
    display: flex;
    align-items: center;
    margin-inline: auto;
    width: 100rem;
    margin-top: 1rem;
    padding: .5rem;
    color: rgb(5, 90, 24);
    background-color: azure;
}

#sep {
    display: flex;
    flex-direction: column;
    margin-left: .6rem;
    font-size: 2.6rem;
    h1{
        margin-block: 2.9rem;
    }
}

.logosmain {
    width: 20rem;
    height: 20rem;
}

#historia {
    padding: 10px;
    h1 {
        text-align: center;
        font: normal 900 3.5rem serif;
    }
}

.historia {
    margin: .2rem;
    margin-bottom: .8rem;
    padding: 1rem;
    padding-inline: 0rem;
    width: 70rem;
    text-align: justify;
    color: azure;
    background: rgb(0, 103, 52);
    border-radius: 2rem;
}

 .h2 {
       display: flex;
       justify-content: center;
       margin: .7rem;
        h2 {
            margin: .1rem;
            padding: .5rem;
            color: rgb(0, 103, 52);
            background-color:azure ;
            border-radius: 1rem;
            font-size: 2.5rem;
        }
    }

.parag {
    margin: 1rem;
    padding: .5rem;
   
}

.h3 {
      display: flex;
      justify-content: center;
      width: 70rem;
      margin-inline: 0rem;
      color: rgb(5, 90, 24);
      background-color: azure;
        h3 {
            font: normal 1000 2.1rem open;
        }
    }

.paragh3 {
    margin: .9rem;
    padding: .5rem;
    border-radius: 1rem;
    background-color: rgb(244, 244, 244);
    color: black;
}








