* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    height: 140px;
    margin-inline: auto;
    background: rgb(0, 103, 52);
}

.divnav {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-left: 480px;
}

.img {
    display: flex;
    margin-left: 15px;
    img{
        height: 100px;
    }
}

.anav {
    padding: 5.5px;
    font-size: 23px;
    font-weight: 700;
    border: 4px solid rgb(3, 170, 70);
    border-radius: 20px;
    text-decoration: none;
    color: rgb(0, 103, 52);  
    background: whitesmoke;   
}

main {
    display: flex;
    align-items: center;
    margin-inline: auto;
    width: 1000px;
    margin-top: 10px;
    padding: 5px;
    color: rgb(5, 90, 24);
    background-color: azure;
}

#sep {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    font-size: 26px;
    h1{
        margin-block: 29px;
    }
}

.logosmain {
    width: 200px;
    height: 200px;
}

#historia {
    padding: 10px;
    h1 {
        text-align: center;
        font: normal 900 35px serif;
    }
}

.historia {
    margin: 2px;
    margin-bottom: 8px;
    padding: 10px;
    padding-inline: 0px;
    width: 700px;
    text-align: justify;
    color: azure;
    background: rgb(0, 103, 52);
    border-radius: 20px;
}

 .h2 {
       display: flex;
       justify-content: center;
       margin: 7px;
        h2 {
            margin: 1px;
            padding: 5px;
            color: rgb(0, 103, 52);
            background-color:azure ;
            border-radius: 10px;
            font-size: 25px;
        }
    }

.parag {
    margin: 10px;
    padding: 5px;
   
}

.h3 {
      display: flex;
      justify-content: center;
      width: 700px;
      margin-inline: 0px;
      color: rgb(5, 90, 24);
      background-color: azure;
        h3 {
            font: normal 1000 21px open;
        }
    }

.paragh3 {
    margin: 9px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    color: black;
}






