* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: rgb(10, 122, 66);
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    max-width: 100rem;
    height: 14rem;
    justify-content: space-around;
    align-items: center;
    margin-inline: auto;

    img {
        width: 10rem;
    }

    ul {
        display: flex;
        justify-content: space-around;
        width: 35rem;
        list-style: none;

        li {
            a {
                padding: .5rem;
                font-size: 2.3rem;
                font-weight: 700;
                border: .4rem inset rgb(7, 163, 51);
                border-radius: 2rem;
                text-decoration: none;
                color: rgb(0, 103, 52);  
                background: whitesmoke;   
            }

        }

        li:hover {
            transform: scale(1.1);
            font-weight: 900;
            transition: .3s;
        }
    }

}

main {
    position: relative;
    top: 15rem;
    bottom: 1rem;
    max-width: 100rem;
    margin-inline: auto;
    padding: 2rem 4rem;
    border: inset .3rem green;
    background-color: rgb(237, 241, 230);
}

#tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
    background-color: rgb(171, 208, 188);
}