* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: rgb(10, 122, 66);
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    max-width: 100rem;
    height: 14rem;
    justify-content: space-around;
    align-items: center;
    margin-inline: auto;

    img {
        width: 10rem;
    }

    ul {
        display: flex;
        justify-content: space-around;
        width: 35rem;
        list-style: none;

        li {
            a {
                padding: .5rem;
                font-size: 2.3rem;
                font-weight: 700;
                border: .4rem inset rgb(7, 163, 51);
                border-radius: 2rem;
                text-decoration: none;
                color: rgb(0, 103, 52);  
                background: whitesmoke;   
            }

        }

        li:hover {
            transform: scale(1.1);
            font-weight: 900;
            transition: .3s;
        }
    }

}

main {
    position: relative;
    top: 15rem;
    bottom: 1rem;
    max-width: 100rem;
    margin-inline: auto;
    padding: .5rem .4rem;
    background-color: rgb(171, 208, 188);
    color: rgb(4, 54, 0);
}

#tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
    background-color: rgb(171, 208, 188);
    h1 {
        margin: .8rem;
        padding: .8rem;
        border-radius: 1.8rem;
        font-size: 4rem;
        -webkit-text-stroke-width: .1rem;
        -webkit-text-stroke-color: azure;
        color: rgb(171, 208, 188);
        background-color: rgb(16, 63, 47);
    }
    p {
        font-size: 1.8rem;
        font-weight: 600;
    }
}

#perguntas {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1.2rem;
    border: outset .4rem rgb(17, 136, 112);
    border-radius: 2rem;
    background-color:azure;
}

.perguntas {
    text-align: center;
    border: solid .2rem ;
    border-radius: 2.5rem;
    margin-block: 1rem;
    padding: 1.2rem;
    background-color: rgb(171, 208, 188);
    h2 {
        display: block;
        margin-bottom: 2rem;
        color: rgb(16, 59, 24);
    }
   
}

.alternativas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div {
        display: flex;
       
        input {
            margin-right: .4rem;
            accent-color: darkgreen;
            border: none;
            outline: none;
        }
    }
}

button {
    margin-block: .8rem;
    padding: .4rem;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(19, 88, 15);
    background-color: azure;
    border: solid .2rem grey;
    border-radius: 1rem;
}

button:hover {
    transform: scale(1.1);
    transition: .4s;
    font-weight: 700;
    color: azure;
    background-color: rgb(19, 88, 15);
}