* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: rgb(10, 122, 66);
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100rem;
    margin-inline: auto;
    height: 14rem;
    img{
        width: 10rem;
    }
    ul {
        display: flex;
        justify-content: space-around;
        width: 35rem;
        list-style: none;
        li {
            a {
                padding: .5rem;
                font-size: 2.3rem;
                font-weight: 700;
                border: .4rem inset rgb(7, 163, 51);
                border-radius: 2rem;
                text-decoration: none;
                color: rgb(0, 103, 52);  
                background: whitesmoke;   
            }
        }
    }
}

nav li:hover {
            transform: scale(1.1);
            font-weight: 900;
            transition: .3s;
   }


main {
    position: relative;
    top: 15rem;
    width: 100rem;
    margin-inline: auto;
    background-color:darkseagreen;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.h1 {
    display: flex;
    justify-content: center;
    h1 {
    display: block;
    margin-bottom: .3rem;
    padding: .8rem;
    border-radius: 3rem;
    color: rgb(8, 117, 8);
    background-color: azure;
    }
    p {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: red;
    }

}

h2 {
    text-align: center;
    color:azure;
    font-size: 3rem;
}

.lista {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    padding-inline: 2.5rem 1rem;
    border: .5rem solid green;
    border-bottom: 1rem solid gray;
    
    background-color:honeydew;
    list-style-position: inside;
    li{
        font-size: 2rem;
        font-weight: 600;
        padding-block: .7rem;
        list-style: square;
    }
}
